flask==3.1.2
kafka-python==2.2.15
stomp.py==8.1.0
pymysql==1.1.2
psycopg2-binary==2.9.11
aerospike==18.0.0
redis==6.4.0
kazoo==2.10.0
polars==1.34.0
pandas==2.3.3
pyarrow==22.0.0
py4j==0.10.9.7
psutil==6.1.0
requests==2.32.3